html {
  color: #222;
  line-height: 1.4;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
:active {
  outline: 0;
  outline-offset: 0;
}

:hover {
  outline: 0;
  outline-offset: 0;
}

:focus {
  outline: 0;
  outline-offset: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
p {
  margin-top: 0px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
  /* ==========================================================================
  Author's custom styles
  @mixin ========================================================================= */
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  width: 95%;
  max-width: 1104px;
  margin: 0 auto;
}

body {
  background: #F9FBFF;
  font-family: Nunito, sans-serif;
}

header {
  height: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

header .header_logo {
  position: absolute;
  left: 180px;
  top: 75px;
}

header h1 {
  z-index: 1;
  position: absolute;
  bottom: 50px;
  left: 195px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: #415167;
  text-transform: uppercase;
  max-width: 470px;
}

header h1 span {
  background: #C7A17A;
  color: #fff;
  padding: 2px 15px;
  display: block;
  margin-left: -15px;
}

header .header_video {
  position: relative;
}

header .header_video a {
  position: absolute;
  top: calc(50% - 51px);
  left: calc(50% - 51px);
}

header .menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #415167;
  height: 100%;
  min-width: 275px;
  padding: 89px 0px 0px 56px;
}

header .menu .header_basket {
  display: inline-block;
  position: relative;
  margin-bottom: 120px;
}

header .menu .header_basket span {
  background: #C7A17A;
  display: block;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -13px;
  right: -13px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #F9FBFF;
  border-radius: 100%;
}

header .menu nav ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header .menu nav ul li {
  margin-bottom: 30px;
}

header .menu nav ul li a {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #EDF0F5;
  text-decoration: none;
}

header .menu nav ul li a:hover {
  font-weight: bold;
}

header .menu nav ul li a.active {
  font-weight: bold;
}

#benefits {
  padding-top: 87.16px;
}

#benefits .under_title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #415167;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0px;
}

#benefits h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

#benefits .benefits_box {
  margin-top: 92.2px;
  padding-bottom: 128.73px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 226px 226px 226px 226px;
      grid-template-columns: 226px 226px 226px 226px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

#benefits .benefits_box .benefits_box_card {
  width: 90%;
  max-width: 226px;
  text-align: center;
}

#benefits .benefits_box .benefits_box_card svg {
  display: inline-block;
  margin-bottom: 42.23px;
}

#benefits .benefits_box .benefits_box_card h3 {
  margin-top: 0px;
  margin-bottom: 12.11px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
}

#benefits .benefits_box .benefits_box_card p {
  margin-bottom: 0px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #151D28;
}

@media (max-width: 768px) {
  #benefits .benefits_box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
  }
  #benefits .benefits_box .benefits_box_card {
    margin-bottom: 50px;
  }
}

#coffee_catalog_row {
  width: 100%;
  padding-top: 87.16px;
  padding-bottom: 97px;
  position: relative;
}

#coffee_catalog_row:after {
  content: "";
  height: 100%;
  display: block;
  width: 384px;
  background: #415167;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#coffee_catalog_row .under_title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #415167;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0px;
  position: relative;
  z-index: 2;
}

#coffee_catalog_row h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

#coffee_catalog_row .coffee_catalog_row_box {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 47px;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider {
  width: 100%;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card {
  width: 559px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 25px;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
          filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: 1;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card img {
  height: 100%;
  margin-right: 45px;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info {
  padding-top: 42px;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info p:nth-child(1) {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
  margin-bottom: 8px;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info p:nth-child(2) {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
  margin-bottom: 24px;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info p:nth-child(3) {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151D28;
  margin-bottom: 30px;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info button {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F9FBFF;
  padding: 5px 24px;
  background: #C7A17A;
  border-radius: 19px;
  border: none;
  margin-right: 29px;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info button:hover {
  cursor: pointer;
  background: #ad8b69;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .coffee_catalog_row_card .coffee_info a {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
  text-decoration: none;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .slick-cloned:nth-child(2) {
  opacity: 0;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .slick-center.slick-active {
  opacity: 1;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .slick-active, #coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .slick-slide {
  opacity: 0.5;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .next {
  position: absolute;
  top: calc(50% - 24px);
  right: 66px;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: url("../img/arrow_r.svg") #C7A17A no-repeat center/auto;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .next:hover {
  cursor: pointer;
  background: url("../img/arrow_r.svg") #ad8b69 no-repeat center/auto;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .prev {
  visibility: hidden;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  z-index: 3;
  top: calc(50% - 24px);
  left: 66px;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: url("../img/arrow_r.svg") #C7A17A no-repeat center/auto;
}

#coffee_catalog_row .coffee_catalog_row_box .coffee_catalog_row_slider .prev:hover {
  cursor: pointer;
  background: url("../img/arrow_r.svg") #ad8b69 no-repeat center/auto;
}

#gifts {
  padding-top: 86px;
  padding-bottom: 126px;
  position: relative;
}

#gifts:after {
  content: "";
  height: 100%;
  display: block;
  width: 90%;
  max-width: 1076px;
  background: #EDF0F5;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#gifts .under_title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #415167;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0px;
  position: relative;
  z-index: 2;
}

#gifts h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

#gifts .gifts_tab {
  padding-left: 250px;
  position: relative;
  z-index: 3;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#gifts .gifts_tab .tab_box {
  -webkit-box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
          box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
}

#gifts .gifts_tab .tab_box .tab_box_content {
  padding-right: 68px;
  -webkit-animation: fadeEffect 1.5s;
          animation: fadeEffect 1.5s;
  background: #fff;
  max-width: 794px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  display: none;
}

#gifts .gifts_tab .tab_box .tab_box_content img {
  margin-right: 91px;
  margin-left: -246px;
}

#gifts .gifts_tab .tab_box .tab_box_content p:nth-child(1) {
  margin-top: 12px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
  margin-bottom: 10px;
}

#gifts .gifts_tab .tab_box .tab_box_content p:nth-child(2) {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
  margin-bottom: 12px;
}

#gifts .gifts_tab .tab_box .tab_box_content p:nth-child(3) {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151D28;
  margin-bottom: 24px;
}

#gifts .gifts_tab .tab_box .tab_box_content .icons_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
}

#gifts .gifts_tab .tab_box .tab_box_content .icons_info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gifts .gifts_tab .tab_box .tab_box_content .icons_info div p {
  margin-left: 19px;
  margin-bottom: 0px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
}

#gifts .gifts_tab .tab_box .tab_box_content .icons_info div p span {
  display: block;
  font-weight: 300;
}

#gifts .gifts_tab .tab_box .tab_box_content .icons_info div:nth-child(1) {
  margin-right: 80px;
}

#gifts .gifts_tab .tab_box .tab_box_content .buttons button {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F9FBFF;
  padding: 7.75px 40px;
  background: #C7A17A;
  border-radius: 19px;
  border: none;
  margin-right: 124px;
}

#gifts .gifts_tab .tab_box .tab_box_content .buttons button:hover {
  cursor: pointer;
  background: #ad8b69;
}

#gifts .gifts_tab .tab_box .tab_box_content .buttons a {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
  text-decoration: none;
}

#gifts .gifts_tab .tab_box .tab_box_content:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gifts .gifts_tab .tab_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#gifts .gifts_tab .tab_pagination button {
  cursor: pointer;
  width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  border: none;
  height: 33.3%;
  background: #EDF0F5;
  border: 0.5px solid #EDF0F5;
  opacity: 0.3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#gifts .gifts_tab .tab_pagination button:hover {
  background: #fff;
  opacity: 1;
}

#gifts .gifts_tab .tab_pagination button.active {
  background: #fff;
  opacity: 1;
}

#coffee_catalog_columns {
  padding-top: 88px;
  padding-bottom: 103px;
}

#coffee_catalog_columns .under_title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #415167;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0px;
  position: relative;
  z-index: 2;
}

#coffee_catalog_columns h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: #415167;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

#coffee_catalog_columns .coffee_catalog_columns_slider {
  margin-top: 39px;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card {
  max-width: 360px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 42px;
  background: #fff;
  -webkit-filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
          filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card .price {
  margin-top: 42px;
  padding-left: 42px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card .price p:nth-child(1) {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
  margin-bottom: 0px;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card .price p:nth-child(2) {
  font-family: Nunito;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #415167;
  margin-bottom: 0px;
  margin-left: 20px;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card p:nth-child(3) {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
  margin-bottom: 10px;
  padding-left: 42px;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card p:nth-child(4) {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding: 0px 38px 0px 42px;
  color: #151D28;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 32px;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card button {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F9FBFF;
  padding: 5px 24px;
  background: #C7A17A;
  border-radius: 19px;
  border: none;
  margin-right: 57px;
  margin-left: 42px;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card button:hover {
  cursor: pointer;
  background: #ad8b69;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .coffee_catalog_columns_card a {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
  text-decoration: none;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .slick-cloned:nth-child(3) {
  visibility: hidden;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .slick-active + .slick-slide, #coffee_catalog_columns .coffee_catalog_columns_slider .slick-cloned, #coffee_catalog_columns .coffee_catalog_columns_slider .slick-slide {
  opacity: 0.5;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .slick-active.slick-current, #coffee_catalog_columns .coffee_catalog_columns_slider .slick-slide.slick-active {
  opacity: 1;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .next {
  position: absolute;
  top: calc(50% - 47px);
  right: 66px;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: url("../img/arrow_r.svg") #C7A17A no-repeat center/auto;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .next:hover {
  cursor: pointer;
  background: url("../img/arrow_r.svg") #ad8b69 no-repeat center/auto;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .prev {
  visibility: hidden;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  z-index: 3;
  top: calc(50% - 47px);
  left: 66px;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: url("../img/arrow_r.svg") #C7A17A no-repeat center/auto;
}

#coffee_catalog_columns .coffee_catalog_columns_slider .prev:hover {
  cursor: pointer;
  background: url("../img/arrow_r.svg") #ad8b69 no-repeat center/auto;
}

footer {
  background: #EDF0F5;
  text-align: center;
  font-family: Nunito;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #415167;
  padding-top: 18px;
  padding-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */